

H1{
    font-family: monospace;
    font-size:100px;
    color:hotpink;
    letter-spacing: 50px;
   
}
h2{
    font-family: monospace;
    font-size:20px;
    color:hotpink;
    letter-spacing: 30px;
    
}

#right{
    color:dimgrey;
    font-size:10px;
    font-family:fantasy;
    letter-spacing: 50px;
    
}

#left{
    color:dimgrey;
    font-size:10px;
    font-family:fantasy;
    letter-spacing: 50px;
    float:left;
    
}