header{
    padding: 450px;
}
h1{
    font-family: monospace;
    font-size:80px;
    color:skyblue
}
h2{
    font-family: monospace;
    font-style:italic;
    color:cornflowerblue;
    font-size:40px;
}
#right{
    border:3px solid pink;height: 550px;width: 450px;
    font-size:20px;
    font-family: cursive;
    color:darkslateblue;
}

#left{
    border:3px solid pink;height: 1000px;width: 450px;
    font-size:20px;
    font-family: cursive;
    color:darkslateblue;
    float:right;
}
    