h1{
    font-family: sans-serif;
    font-size:80px;
    color:red;
}
h2{
    font-family: sans-serif;
    font-size:30px;
    color:darkred;
}
header{
    padding: 300px;
}
#right{
    float: right;
    font-size:20px;
    font-family: serif;
    color:darkblue;
    border-bottom: 5px solid darkred;
}
#left{
    float:left
    font-size:20px;
    color:darkblue;
    font-family: serif;
    border-top: 5px solid darkred;width: 500px;
}