h1{
    font-size:80px;
    font-family: monospace;
    color:hotpink;
    float:right;
}
h2{
    font-size:40px;
    font-family: monospace;
    color:pink;
    letter-spacing: 40px;
}
#right{
    font-size:13px;
    font-family: fantasy;
    color:cornflowerblue;
    float:left;
    letter-spacing:1px;
}

#left{
    font-size:10px;
    font-family: fantasy;
    color:blue;
    float:left;
    letter-spacing:10px;
    
}