#right{
    border-bottom:10px solid blue;
    padding:300px;
}

#left{
    border-top:10px solid blue;
    padding:300px;
}
header{
    margin-top: 500px;
    position: absolute;
    margin-left: 200px;
    z-index: -1;
}

body{
    z-index: 0;
}